{
  "singleQuote": true,
  "trailingComma": "es5",
  "semi": true,
  "arrowParens": "always",
  "jsxSingleQuote": false,
  "jsxBracketSameLine": false,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true
}
